* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}




/* rules */
.flex-container {
    display: flex;

}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.dashed {
    border: dashed 2px grey;
}

.boxed-1 {
    width: 900px;
    height: 400px;

}

.mega-box {
    height: 500px;
    margin: 1em auto 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

.bg-jumbo {
    background-image: url(../img/jumbo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-white {

    background-color: white;
}

.large-column {
    height: 400px;
    width: 60%;
}

.small-column {
    padding: 0 100px;
    height: 400px;
    width: 40%;

    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-grey {

    background-color: lightgray;
}

.align {
    text-align: center;
}

.big-column {
    display: flex;
    flex-direction: column;
}

.section-black-1 {
    background-color: rgb(40, 38, 38);

}

.left-column {
    height: 400px;
    width: 30%;

}

.right-column {
    height: 400px;
    width: 70%;

}

.inside-column {
    width: 25%;
}

/* header-main-footer */
header {
    height: 600px;
    background-color: rgb(6, 102, 212);
    padding: 1em 0 5px 0;
}

/* other */
.logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.link {
    width: 60%;
    display: flex;
    justify-content: center;
}

.login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.logo,
.link,
.login {
    padding: 1em;
}

.header-content {
    color: white;
    font-size: larger;
    text-align: center;
    padding: 1em;
    display: flex;

    flex-direction: column;

}

.left-column,
.right-column {
    margin: 1em 0 2em;
}

.row {
    padding: 1em 0;
}

.bg-padding {
    padding: 1em 0 1em;
}




.space {
    justify-content: space-between;
}

.footer-padding {
    padding-top: 2em;
}

.navbar {
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

button {
    border-style: hidden;
    padding: 1em;
    border-radius: 25px;
}

.w-button {
    background-color: white;
    border-color: white;
}

.b-button {
    color: white;
    background-color: black;
    border-color: black;
}

h1 {
    padding-bottom: 1em;
}

.b-padding {
    padding-top: 1em;
}

.big-h2 {
    padding: 1em 0;
}

.blue-but {
    color: white;
    background-color: rgba(63, 63, 224, 0.841);
    border-color: rgba(63, 63, 224, 0.841);
    padding: 1em;
    margin-bottom: 1em;
}

.big-pad {
    padding: 1em 10%;
}
h3 {
    color: rgb(92, 92, 252);
    font-size: larger;
    padding: 1em;
}
.space-foot-l {
    padding: 1em 0;

}
.w-font{
 color: white;
    padding: 0 1em;
}
.b-font {
    padding: 2em 1em 0;
}
ul {
    color: rgb(92, 92, 252);
    list-style: none;
}
.footer-bborder {
        border-bottom: solid 2px lightgray;
}